<div class="main">
    <div class="main_image">
      <%= image_tag "001.png" %>
    </div>
    <div class="main_info">
      <div>
        <h1><%= t 'welcome' %></h1>
        <p> <%= t 'info.first' %></p>
        
      </div>
      <%= image_tag "2972111.png" %>
    </div>
    <div class="main_mission">
      <div>
        <p> <%= t 'info.history' %></p>
        <p> <%= t 'info.stand' %></p>
        <p> <%= t 'info.mission' %></p>
      </div>
      <div>
        <p> <%= t 'info.meta' %></p>
        <p> <%= t 'info.team' %></p>
        <p> <%= t 'info.last' %></p>
      </div>
    </div>
</div>



