<main>
  <div class="main">
    <div class="main-block">
      <div class="main-title">
        <%= image_tag("home/Brush-blue") %>
        <h1 class="textTitle">Дарувати тепло легко</h1>
      </div>
      <div class="main-text">
        <p>Бажаєш допомогти тому, хто має потребу і маєш можливість це робити? Тоді ми запрошуємо тебе до нашої дружньої команди.</p>
      </div>
      <div class="main-buttons">

        <%= link_to "Допомогти фонду", '/help', class:"button"  %>
        <%= link_to "Перейти у Крамницю Добра", '#', class:"button-secondary"  %>
      </div>
    </div>
  </div>

  <div class="aboutUs">
    <div class="aboutUs-title titleBrush">
      <%= image_tag("home/Brush-pink") %>
      <h2 class="textTitle">Про благодійну організацію</h2>
    </div>

    <p class="homeInfo text-center">БО “Благодійний фонд “Чарівниці Добра” -  є продовженням волонтерської діяльності Благодійного клубу “40 петель Добра. Україна”, створеного у 2018 році. Основним напрямком нашої  діяльності є благодійне в’язання та рукоділля.</p>
    
    <div class="aboutUs-images">
      <div class="div1">
        <%= image_tag("home/Photo1") %>
      </div>
      <div class="div2">
        <%= image_tag("home/Photo2") %>
      </div>
      <div class="div3">
        <%= image_tag("home/Photo3") %>
      </div>
      <div class="div4">
        <%= image_tag("home/Photo4") %>
      </div>
      <div class="div5">
        <%= image_tag("home/Photo5") %>
      </div>
      <div class="div6">
        <%= image_tag("home/Photo6") %>
      </div>
    </div>
    <div class="swiper organizationSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
            <%= image_tag("home/Photo1") %>
        </div>
        <div class="swiper-slide">
          <%= image_tag("home/Photo2") %>     
        </div>
        <div class="swiper-slide">
          <%= image_tag("home/Photo3") %>     
        </div>
        <div class="swiper-slide">
           <%= image_tag("home/Photo4") %>      
        </div>
        <div class="swiper-slide">
          <%= image_tag("home/Photo5") %>      
        </div>
        <div class="swiper-slide">
          <%= image_tag("home/Photo6") %>      
        </div>
      </div>
       <div class="swiper-pagination"></div>
    </div>
   
  </div>

  <div class="activity">
    <div class="activity-title titleBrush">
      <%= image_tag("home/Brush-light-pink") %>
      <h2 class="textTitle">
        Основні напрямки діяльності
      </h2>
    </div>

    <p class="homeInfo text-center">
      Ми допомагаємо тим, хто має потребу, просто завдяки своєму хоббі та таланту і даруємо тепло і затишок навіть на відстані.
    </p>

    <div class="activity-blocks">
      <div class="activity-blocks_border">
         <%= image_tag("home/Vector_Charity") %>
         <div>
          <h3 class="textSubtitle">
            Благодійність
          </h3>
          <p class="textBody1">
            Ми співпрацюємо з інтернатами, дитячими будинками, геріатричними пансіонатами, Центрами матері та дитини, Центрами реабілітації дітей, соціальними центрами. Допомагаємо  онкохворим дітям, дітям ВПО та військовим.
          </p>
         </div>
      </div>
      
       <div class="activity-blocks_border">
         <%= image_tag("home/Vector_Live") %>
        <div>
           <h3 class="textSubtitle">
            Марафони Добра
          </h3>
          <p class="textBody1">
              Проводимо цікаві майстер-класи із в’язання для дітей з інтернатів, онкоцентрів, а також для дітей та жінок, які постраждали від війни ( з метою їх психологічної реабілітації, розвитку здібностей та творчого потенціалу).  
          </p>
        </div>
      </div>

       <div>
         <%= image_tag("home/Vector_Charity") %>
         <div>
          <h3 class="textSubtitle">
            Уроки майстерності
          </h3>
          <p class="textBody1">
            Ми співпрацюємо з інтернатами, дитячими будинками, геріатричними пансіонатами, Центрами матері та дитини, Центрами реабілітації дітей, соціальними центрами. Допомагаємо  онкохворим дітям, дітям ВПО та військовим.
          </p>
         </div>
      </div>
    </div>
  </div>

  <div class="results">
    <div class="results-title titleBrush">
      <%= image_tag("home/Brush-blue-big") %>
      <h2 class="textTitle">
        Результати нашої роботи
      </h2>
    </div>
    <div class="results-info d-flex justify-content-around">
      <div class="results-info-item">
        <h3 class="textSubtitle">47</h3>
        <p class="textBody1">
          організацій, центрів, онколікарень отримали нашу допомогу
        </p>
      </div>
      <div class="results-info-item">
        <h3 class="textSubtitle">0</h3>
        <p class="textBody1">
          кілограм спонсорських ниток для в’язання зібрано
        </p>
      </div>
      <div class="results-info-item">
        <h3 class="textSubtitle">0</h3>
        <p class="textBody1">
          одиниць в’язаних виробів (одяг, іграшки) зібрано
        </p>
      </div>
    </div>
  </div>

  <div class="becomeMember">

    <%= image_tag("home/Illustration") %>
    <h2 class="textTitle text-center">Долучайся до нашої команди</h2>
    <p class="textBody1 text-center">Ми хочемо огорнути теплом всю Україну, щоб жоден куточок не залишився без нашої допомоги. Якщо ти  - відповідальна людина з добрим серцем, то ми потребуємо саме тебе!</p>
    <h4 class="text-center">ЗАПОВНИ ПРОСТУ ФОРМУ РЕЄСТРАЦІЇ І З ТОБОЮ ЗВ’ЯЖЕТЬСЯ НАШ КООРДИНАТОР</h4>
    <div class="d-flex justify-content-center becomeMember-join">
      <%= link_to '/become_members/new', class:"button"  do %>
        Заповнити анкету <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.2673 0.20889C9.9674 -0.0768002 9.4926 -0.06525 9.2069 0.23467C8.9212 0.5346 8.9328 1.00933 9.2327 1.29502L15.4841 7.2496H0.75C0.33579 7.2496 0 7.5854 0 7.9996C0 8.4138 0.33579 8.7496 0.75 8.7496H15.4842L9.2327 14.7043C8.9328 14.99 8.9212 15.4648 9.2069 15.7647C9.4926 16.0646 9.9674 16.0762 10.2673 15.7905L17.6862 8.7238C17.8551 8.5629 17.9551 8.3576 17.9861 8.1443C17.9952 8.0975 18 8.0491 18 7.9996C18 7.9501 17.9952 7.9016 17.986 7.8547C17.955 7.6415 17.855 7.4364 17.6862 7.2756L10.2673 0.20889Z" fill="white"/>
        </svg>
      <% end %>
       
    </div>

  </div>

  <div class="sponsors">
    <div class="sponsors-title titleBrush">
      <%= image_tag("home/Brush-pink-big") %>
      <h2 class="textTitle">
        Організації, які нас підтримують
      </h2>
    </div>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <%= link_to 'https://azuleta.com/uk/'  do %>
            <%= image_tag("home/carousel/azuleta_logo") %>
          <% end %>      
        </div>
        <div class="swiper-slide">
          <%= link_to 'https://goodacity.org/ua/'  do %>
            <%= image_tag("home/carousel/Goodacity") %>
          <% end %>      
        </div>
        <div class="swiper-slide">
          <%= link_to 'https://slavicsky.com/'  do %>
            <%= image_tag("home/carousel/nebo") %>
          <% end %>      
        </div>
        <div class="swiper-slide">
          <%= link_to 'https://www.facebook.com/ngosgv/'  do %>
            <%= image_tag("home/carousel/vidrodzhennia") %>
          <% end %>      
        </div>
        <div class="swiper-slide">
          <%= link_to 'https://prostopryaja.com.ua/'  do %>
            <%= image_tag("home/carousel/yarn-slava") %>
          <% end %>      
        </div>
      </div>
      <div class="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20" fill="none">
          <path d="M0.881279 0.923027C0.539574 1.26473 0.539574 1.81876 0.881279 2.16046L8.72085 10.0001L0.881279 17.8397C0.539574 18.1814 0.539574 18.7354 0.881279 19.0771C1.22298 19.4188 1.77701 19.4188 2.11871 19.0771L10.577 10.6188C10.9187 10.277 10.9187 9.72311 10.577 9.38139L2.11871 0.923027C1.77701 0.581322 1.22298 0.581322 0.881279 0.923027Z" fill="#E77584"/>
        </svg>
      </div>
      <div class="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20" fill="none">
          <path d="M10.1188 0.923027C10.4605 1.26473 10.4605 1.81876 10.1188 2.16046L2.27918 10.0001L10.1188 17.8397C10.4605 18.1814 10.4605 18.7354 10.1188 19.0771C9.77705 19.4188 9.22311 19.4188 8.8814 19.0771L0.423027 10.6188C0.0813218 10.277 0.0813218 9.72311 0.423027 9.38139L8.8814 0.923027C9.22311 0.581322 9.77705 0.581322 10.1188 0.923027Z" fill="#E77584"/>
        </svg>
      </div>
    </div>
  </div>
  
</main>
