<%= form_with(model: become_member, local: true) do |form| %>
  <% if become_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(become_member.errors.count, "error") %> prohibited this become_member from being saved:</h2>

      <ul>
        <% become_member.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Прізвище та ім’я" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, 'Електронна адреса' %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone, 'Номер телефону' %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :distinct, "Місце проживання" %>
    <%= form.text_field :distinct %>
    <%= form.text_field :city %>
  </div>
  
  <p>Готовий допомагати як:</p>

  <div class="field">
    <%= form.check_box :coordinator %>
    <%= form.label :coordinator, 'Волонтер-координатор' %>
  </div>

  <div class="field">
    <%= form.check_box :knitt %>
    <%= form.label :knitt, 'Волонтерство в’язанням' %>
  </div>

  <div class="field">
    <%= form.check_box :meetings %>
    <%= form.label :meetings, 'Волонтер на заходах фонду' %>
  </div>

  <div class="field">
    <%= form.text_area :other %>
  </div>

  <div class="actions button">
    <%= form.submit %>
  </div>
<% end %>
