<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @become_member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @become_member.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @become_member.phone %>
</p>

<p>
  <strong>Distinct:</strong>
  <%= @become_member.distinct %>
</p>

<p>
  <strong>City:</strong>
  <%= @become_member.city %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= @become_member.coordinator %>
</p>

<p>
  <strong>Knitt:</strong>
  <%= @become_member.knitt %>
</p>

<p>
  <strong>Meetings:</strong>
  <%= @become_member.meetings %>
</p>

<p>
  <strong>Other:</strong>
  <%= @become_member.other %>
</p>

<%= link_to 'Edit', edit_become_member_path(@become_member) %> |
<%= link_to 'Back', become_members_path %>
