<div class="header">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg p-0">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
     
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <div class="header-toggle">
        <%= image_tag("Logo") %>
        <div></div>
        <div class="open">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="14" viewBox="0 0 28 14" fill="none">
          <path d="M1 1H27M9 13H27" stroke="#E77584" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </div>
        <div class="close">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M0.39705 0.553791L0.46967 0.46967C0.73594 0.2034 1.1526 0.1792 1.44621 0.39705L1.53033 0.46967L8 6.939L14.4697 0.46967C14.7626 0.17678 15.2374 0.17678 15.5303 0.46967C15.8232 0.76256 15.8232 1.23744 15.5303 1.53033L9.061 8L15.5303 14.4697C15.7966 14.7359 15.8208 15.1526 15.6029 15.4462L15.5303 15.5303C15.2641 15.7966 14.8474 15.8208 14.5538 15.6029L14.4697 15.5303L8 9.061L1.53033 15.5303C1.23744 15.8232 0.76256 15.8232 0.46967 15.5303C0.17678 15.2374 0.17678 14.7626 0.46967 14.4697L6.939 8L0.46967 1.53033C0.2034 1.26406 0.1792 0.847401 0.39705 0.553791L0.46967 0.46967L0.39705 0.553791Z" fill="#E77584"/>
          </svg>
        </div>
      </div>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0 header_logo"  href="/">
        <%= image_tag("Logo") %>
      </a>

        <ul class="header_nav navbar-nav mr-auto d-flex flex-row-reverse justify-content-end align-items-center">
          <li class="nav-item ">
            <%= link_to "Про нас", '#', :class => "nav-link" %>
          </li>
           <li class="nav-item ">
             <%= link_to "Проекти", '#', :class => "nav-link" %>
          </li>
          <li class="nav-item ">
             <%= link_to "Кому допомогли", '#', :class => "nav-link" %>
          </li>
           <li class="nav-item ">
           <%= link_to "Команда", '#', :class => "nav-link" %>
          </li>
           <li class="nav-item ">
           <%= link_to "Контакти", '#', :class => "nav-link" %>
          </li>
        </ul>
        <div class="header-bottom">
          <%= image_tag("header-bottom")%>
        </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
</div>